/*
dark red: rgb(163, 41, 41)
sage green: #777E5C
*/

body {
    background-color: rgb(163, 41, 41);
    padding: 10px;
    cursor: url("images/cursor.gif"), auto;
}


h1, h3 {
    text-align: center;
}

h1 {
    color: #eee7d9;
    font-size: 70px;
    font-weight: lighter;
    font-family: 'Reenie Beanie', cursive;
}

h3 {
    color: rgb(181, 22, 22);
    font-family: 'Reenie Beanie', cursive;
    font-size: 40px;
    cursor: grab;
}

h2 {
    width: 300px;
    padding: 15px;
    color: rgb(181, 22, 22);
    text-align: center;
    display: block;
    margin: auto;
    font-family: 'Reenie Beanie', cursive;
    font-size: 35px;
}

h4 {
    color: rgb(181, 22, 22);
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Reenie Beanie', cursive;
}

a {
    text-decoration: none;
    color: rgb(189, 61, 61)
}

a:hover {
    color: #4e3f1b;
}

a:active {
    color: rgb(189, 61, 61)
}

p {
    color: #4e3f1b;
    font-size: 18px;
    line-height: 1.5em;
    font-family: 'Patrick Hand SC', cursive;
}

img {
    border: 4px dashed rgb(181, 22, 22);
    padding: 5px;
    display: block;
    margin: auto;
    transition: transform 1s, rotate 1s;
}

/* fade out -- include transition in original class selector*/

img:hover {
    transform: translateY(-20px);
    rotate: 5deg;
    transition: transform 0.5s, rotate 0.5s;
}

ol {
    list-style-type: upper-roman;
}

.nav-link {
    color: #eee7d9;
    font-size: 20px;
}

.nav-link:hover {
    color: #eee7d9;
    text-decoration:underline;
}

.date {
    width: 300px;
    padding: 15px;
    color: #eee7d9;
    border-radius: 40px;
    text-align: center;
    display: block;
    margin: auto;
    background-image: url("images/fruit.jpg");
}

.credit {
    text-align: center;
    font-size: 12px;
    padding: 10px;
}

.container {
    background-color: #eee7d9;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 50px;
}

/* PAGE 2 -- flexbox */

div.container2 {
    background-color: #4e3f1b;
    width: 50%;
    display: flex; /*define flexbox: will go left-right by default*/
    flex-direction: row;
    justify-content: space-between; /* define how divs get space out; space-around, space bw div's margins s.t. all centered
    space-between: space between them but not at edges*/
    padding: 10px;
}

div.content {
    background-color: #eee7d9;
    width: 20%;
    margin: 5px;
    padding: 20px;
    display: flex; /* s.t. will treat its children with flex */
    flex-direction: column;
    border-radius: 50%;
}

div.subcontent {
    width: 75%;
    height: 75%;
    background-color: rgb(189, 61, 61);
    margin: 5px;
    position: relative; /* left, right, ... , absolute to coords of page */
    left: 30px; /* add offset on the left, if % = relative to screen resolution*/
    text-align: center;
    color: #eee7d9;
}

#movingImage {
    top: 0px;
    left: 0px;
    position: absolute;   
    z-index: -1;
}

