#body {
    background-image: url("../images/bckgrnd80s.png");
    background-size: 1200px;
    background-repeat: repeat;
    background-color: grey;
    font-family: 'VT323', monospace;
    cursor: url('../images/cursor.png'), auto;
    overflow: scroll;
}
a {
    color: black;
}
a::after {
    color: black;
}

.window {
    z-index: 1;
    box-shadow: none;
}

/* ****** TOP TITLE BAR ******* */
#titleBar {
    overflow: hidden;
    background-color: rgb(240, 240, 240);
    height: 25px;
    margin: -8px;
    border-bottom: 2px solid black;
    font-size: 16px;
}

.titleBar_title {
    /* float: left; */
    display: inline-block;
    text-align: center;
    padding: 0px 15px;
    padding-top: 5px;
    margin-bottom: -1px;
}

.titleBar_drop_container {
    /* float: left; */
    display: inline-block;
    overflow: hidden;
}

.titleBar_title:hover{
    background-color: black;
    color: rgb(240, 240, 240);
}

.titleBar_drop_container .titleBar_title {
    cursor: pointer;
    font-family: inherit;
    margin: 0;
}

.titleBar_drop_content {
    display: none;
    position: absolute;
    background-color: rgb(240, 240, 240);
    backdrop-filter: none;
    min-width: 160px;
    z-index: 1;
    top: 25px;
    padding: 0;
    border: 2px solid black;
    border-radius: none;
    box-shadow: none;
}

.titleBar_drop_content p {
    display: block;
    color: black;
    text-align: left;
    margin: 0;
    padding: 5px;
    min-width: 160px;
}

.titleBar_drop_content p:hover{
    background-color: black;
    color: rgb(240, 240, 240);
}

#titleBar_drop_content_1 {
    left: 5px;
}

#titleBar_drop_content_2 {
    left: 62px;
}

#titleBar_drop_content_3 {
    left: 123px;
}

#titleBar_drop_content_4 {
    left: 185px;
}

#date {
    float: right;
    padding: 5px 15px 0px 15px;
}

/* ****** WELCOME POPUP ******* */
#welcomePopup {
    display: block;
    background-color: rgb(240, 240, 240);
    height: 150px;
    width: 400px;
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
}

.popupHeader {
    display: flex;
    background-color: none;
    border-bottom: 2px solid black;
    border-radius: none;
    height: 20px;
    width: none;
    justify-content: none;
    align-items: center;
}
.popupHeader p {
    margin: 0;
    padding: 0px 5px;
}

/* ******* POPUPS ******* */
.closedPopup {
    display: none;
    background-color: rgb(240, 240, 240);
    height: 250px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
}
.popupContainer {
    padding: 0px 20px;
    background-color: transparent;
}

/* ABOUT THIS MAC */
#aboutMacPopup {
    width: 300px;
    height: 150px;
}

/* SYSTEM SETTINGS */
#systemSettings {
    height: 300px;
}
.radio {
    padding: 5px;
}
#button {
    border: 2px solid black;
    background-color: transparent;
    padding: 5px;
    font-family: inherit;
    font-size: inherit;
}

#button:hover {
    background-color: black;
    color: rgb(240, 240, 240);
}

/* ****** APPS ****** */
.app {
    position: absolute;
    padding: 10px;
}

.app:hover {
    background-color: rgba(160, 160, 160, 0.6);
    opacity: 0.8;
}
.appIcon {
    width: 50px;
    height: 50px;
    background-color: white;
    margin: 0 auto;
}

.appName {
    background-color: white;
    margin: 2px 0px 0px 0px;
    text-align: center;
    box-shadow: none;
}

#musicPlayer {
    top: 100px;
    right: 50px;
}

#file {
    top: 300px;
    right: 25px;
}
#fileOpen {
    height: 600px;
    overflow: scroll;
}
#folder {
    top: 400px;
    right: 50px;
}
/* ****** APPS OPEN ****** */
.appOpen {
    display: none;
    background-color: rgb(240, 240, 240);
    height: 500px;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
}

/* **** MUSIC APP **** */
.musicContainer {
    display: flex;
}
#disk {
    margin-top: 35px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: black;
    animation: rotation 3s infinite linear;
    animation-play-state: paused;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#needle {
    margin-top: 45px;
    margin-left: 10px;
    width: 20px;
    height: 250px;
    background-color: grey;
    transform-origin: top left;
}
.musicButtons{
    position: absolute;
    right: 10px;
    margin-top: 35px;
    display: flex;
}
.musicButton{
    margin: 0px 5px;
    width: 40px;
    height: 40px;
    background-color: black;
}
#songInfo {
    position: absolute;
    display: none;
    margin-top: 150px;
    right: 70px;

}
.songInfo p {
    text-align: center;
}